  <!-- page content -->
    <!-- footer -->
    <footer class="footer1">
        <div class="container" id="footer">
            <div class="row">
                <div class="span6 timelineWidget">
                    <h2>Latest Tweets</h2>
                    <hr>
                    <div id="twitterFrame"> <a class="twitter-timeline" href="https://twitter.com/openHAB?height=250" data-widget-id="416300026369810432"  data-tweet-limit="2" data-theme="dark" data-chrome="nofooter noheader transparent" >Tweets by @openHAB</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
                <div class="span3 contactWidget">
                    <h2>Support openHAB</h2>
                    <hr>
					<p>The <a href="http://www.openhabfoundation.org/">openHAB Foundation</a> promotes and supports the openHAB project - come and join forces!
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="KPVP4NJESFENY">
                                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG_global.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                                            <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
                                            </form>
                </div>
                <div class="span3 sociallWidget">
                    <h2>Follow Us</h2>
                    <hr>
                    <ul class="socialNetwork nav">
                        <li><a href="https://www.facebook.com/pages/OpenHAB/153141161476518" class="icon-facebook socialIcon tips"  title="follow us on Facebook"><span>facebook</span></a></li>
                        <li><a href="http://twitter.com/openHAB" class="icon-twitter-bird socialIcon tips"  title="follow us on Twitter"><span>twitter</span></a></li>
                        <li><a href="https://plus.google.com/u/0/b/112853105449135193256/112853105449135193256/posts" class="icon-gplus socialIcon tips"  title="follow us on Google +"><span>google +</span></a></li>
                        <li><a href="http://www.youtube.com/playlist?list=PLGlxCdrGUagz6lfgo9SlNLhdwI4la_VSv" class="icon-videocam socialIcon tips" title="follow us on Youtube"><span>youtube</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer2" id="footerRights">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p>Copyright © 2016 by the <a href="https://github.com/openhab">openHAB Community</a> and the <a href="http://www.openhabfoundation.org/">openHAB Foundation</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
