<header id="mainHeader" class="clearfix">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container"> <a href="{{ site.baseurl }}/" class="brand"><img src="/assets/images/openhab-logo-top.png" alt="openHAB"/></a>
        <nav id="mainMenu" class="clearfix">{% assign pageurl = page.url | remove:'index.html' | split:'/' %}
          <ul>
            <li><a href="{{ site.baseurl }}/"{% if pageurl[1] == nil or pageurl[1] == 'technologies.html' or pageurl[1] == 'introduction.html' %} class="active"{% endif %}>Home</a></li>
            <li><a href="{{ site.baseurl }}/downloads.html"{% if pageurl[1] == 'downloads.html' %} class="active"{% endif %}>Downloads</a></li>
            <li><a href="http://docs.openhab.org" target="_blank">Documentation</a></li>
            <li><a href="https://community.openhab.org" target="_blank">Community</a></li>
            <li><a href="https://github.com/openhab/openhab" target="_blank">Github</a></li>
            <li><a href="http://www.myopenhab.org/" target="_blank">myopenHAB</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>