<header class="headerPage">
    <div class="container clearfix">
        <div class="row">
            <h1 class="span8">{{ page.title }}</h1>
<div class="span4" id="navTrail">

<a href="{{ site.baseurl }}/">Home</a>
{% assign crumbs = page.url | split: '/' %}
{% assign crumbs_total = crumbs | size | minus: 1 %}
{% for crumb in crumbs offset: 1 %}
  {% if forloop.index == crumbs_total %}
    <span>/</span> <a href="{{ site.baseurl }}{{ page.url }}">{{page.title}}</a>
  {% else %}
    {% assign crumb_limit = forloop.index | plus: 1 %}
    {% capture crumb_url %}{% for c in crumbs limit: crumb_limit %}{{ c | append: '/' }}{% endfor %}{% endcapture %}
    {% capture crumb_with_index %}{{ crumb_url | append: 'index.html' }}{% endcapture %}
    {% capture current_page %}{{ site.baseurl }}{{ page.url }}{% endcapture %}
    {% for p in site.pages %}
      {% if crumb_with_index != current_page and crumb_with_index == p.url %}
        <span>/</span> <a href="{{ crumb_with_index }}">{{ crumb | replace:'-',' ' | capitalize}}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
</div>
        </div>
    </div>
</header>



