---
layout: default
---
{% include page-header.html %}
<div class="slice clearfix">
  <div class="container">
    <div class="row ">
      <aside class="span2" id="sidebar">
        <nav  id="subnav">
          <ul>{% assign pageurl = page.url | split:'/' %}{% for p in site.pages | sort:url %}{% assign sidebarlink = p.url | split:'/' %}{% if sidebarlink[1] == 'features' and sidebarlink[2] == 'index.html' %}{% else %}{% if sidebarlink[1] == pageurl[1] and sidebarlink[2] != nil %}
            <li>
              <a class="firstLevel{% if p.url == page.url %} active{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
            </li>{% endif %}{% endif %}{% endfor %}
          </ul>
        </nav>
      </aside>
      <section class="span10">
{{ content }}
      </section>
    </div>
  </div>
</div>